.page_fabric {
	/*background-image: url(../image/bg_fabric.jpg);*/
	background-position: 0px -5px;
}
.body .cont.page_fabric > .preload {
	background-color: rgba(249, 249, 249, 0.6);
}

.page_fabric {
	padding-top: 5px;
	padding-left: 1px;
}
.page_fabric .cont_img_texture{
	max-width: 246px;
	/*height: 290px;*/
	border: 1px solid #E3E3E3;
	border-radius: 5px;
	padding: 7px 6px;
	min-height: 150px;
	min-width: 150px;
}

.page_fabric .cont_img_texture .item_texture{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(../image/texture_fabric.png);*/
    background-color: #fff;
    min-height: 150px;
    min-width: 150px;
}

.page_fabric .right_path ,
.page_fabric .left_path {
	display: inline-block;
	vertical-align: top;
}

.page_fabric .left_path {
	padding-right: 47px;
}

.page_fabric .selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height: 31px !important;
    line-height: 31px !important;
}

.page_fabric .selectboxit-container .selectboxit {
	width: 296px !important;
}

.page_fabric .cont_select {
	margin-bottom: 7px;
}

.page_fabric .cont_brand .selectboxit-option-icon-url {
	width: 53px;
	background-size: contain;
}
.page_fabric .cont_select .selectboxit-option .selectboxit-option-anchor  {
	padding: 0px;
}
/*.cont_select .selectboxit-option-icon-container{
	margin-right: 15px;
}
*/

.page_fabric .cont_brand .selectboxit-options {

	max-height: 290px;

}

.page_fabric .cont_select:not(.cont_database) .selectboxit-option-icon-container {
	/*margin: 0 7px 0 15px;*/
/*	margin: 0 ;*/
}
/*.selectboxit .selectboxit-option-icon-container{
	margin-left: 15px;
}*/

.page_fabric .cont_brand .selectboxit-option, 
.page_fabric .cont_colour .selectboxit-option, 
.page_fabric .selectboxit-optgroup-header {
	text-transform: inherit;
}

.page_fabric .cont_colour .selectboxit-option-icon{
	/*width: 23px !important;*/
	/*height: 23px !important;*/
	border-radius: 3px;
}

.page_fabric .cont_colour .select_colour .selectboxit-option-icon-container{
	margin: 0 5px 0 0 ;

	width: 0;
}
.page_fabric .cont_colour .select_colour  .selectboxit-option-icon {
	background-size: cover;
	width: 8px !important;
}

.page_fabric .cont_select.cont_colour {
	margin-bottom: 32px;
}
.page_fabric .selectboxit .selectboxit-option-icon-container {
	margin-left: 5px;
}

.page_fabric input {
	color: #636363 !important;
	border-radius: 3px;
}

.page_fabric .cont_input{
	margin-bottom: 7px;
}


.page_fabric .cont_input.override{
	margin-bottom: 27px;
}
.page_fabric .cont_input .name {
	color: #636363 !important;
}
.page_fabric .cont_input > div {
	display: inline-block;
	vertical-align: top;
}
.page_fabric .cont_input .cont_name{
	padding-top: 7px;
	padding-right: 10px;
}
.page_fabric .cont_input .name {
	width: 88px;
	font-size: 12px;
	text-align: right;
	line-height: 14px;
}

.page_fabric .cont_input .cont_val input {
	width: 55px;
	margin-bottom: 0;
}

.page_fabric .cont_check input[type="checkbox"] + label{
	margin: 7px 2px;
}