.page_seams {
	/*background-image: url(../image/bg_seams.jpg);*/
	background-position: center -5px;
}
.page_seams .popup {
	text-transform: inherit !important;
}
.page_seams .left_path,
.page_seams .right_path {
	display: inline-block;
	vertical-align: top;
}
.page_seams .left_path {
	width: 560px;
	padding-right: 30px;
}
.cont_view {
	padding: 5px;
}
.cont_view .cont_top_btn {
	margin-bottom: 10px;
	text-align: center;
}
.cont_view .cont_top_btn .my_btn {
	width: 100px;
	margin-right: 10px;
}
.cont_view .cont_top_btn .my_btn:last-child {
	margin-right: 0;
}
.page_seams #threejs {
	width: 550px;
	height: 460px;
	pointer-events: none;
}
.page_seams .navigation,
.page_seams .elem_color {
	display: none;
}
.cont_view .view{
	width: 550px;
	height: 460px;
	border-radius: 5px;
	background-color: #fff;
	background-position: center;
	background-repeat:no-repeat;
    background-size: contain;
    box-shadow: 0 0 5px #B3B3B3;
}
.cont_view .view.error {
	background-color: #fff
}
.cont_info .cont_count .popup {
	width: 380px;
	margin-left: -190px;
	text-transform: initial !important;
}
.cont_info .cont_count {
	padding-top: 7px;
	text-align: center;
}

.cont_info .cont_count .text{
	text-transform: uppercase;
	line-height: 17px;
	/*color: dimgrey;*/

}


.cont_info .cont_count .elem_count {
	width: 152px;
	height: 40px;
	margin: 5px auto 0;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 2px 2px 7px #8E8E8E;
}
.cont_info .cont_count .elem_count > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.cont_info .cont_count .elem_count .btn_minus {
	float: left;
}
.cont_info .cont_count .elem_count .btn_plus  {
	float: right;
}
/*.cont_info .cont_count .elem_count .btn_minus,
.cont_info .cont_count .elem_count .btn_plus  {
	width: 43px;
	height: 100%;
	color: #fff;
	background-color: #1189d5;
	position: relative;
	cursor: pointer;
}*/
/*.cont_info .cont_count .elem_count .btn_minus:hover,
.cont_info .cont_count .elem_count .btn_plus:hover {
	background-color: #20A8FF;
}*/

.cont_info .cont_count .elem_count .val_num{
	width: 65px;
	color: #1994e1;

	font-size: 27px;
	line-height: 40px;
	font-weight: bold;
	cursor: default;
}

.cont_info .cont_count .elem_count .btn_plus:before,
.cont_info .cont_count .elem_count .btn_minus:before,
.cont_info .cont_count .elem_count .btn_plus:after {
	position: absolute;
	content: '';
	background-color: #fff;
	top: 50%;
	left: 50%;
	pointer-events: none;
}

.cont_info .cont_count .elem_count .btn_minus:before,
.cont_info .cont_count .elem_count .btn_plus:before {
	height: 2px;
	width: 17px;
	margin-left: -7px;
}
.cont_info .cont_count .elem_count .btn_plus:after {
	width: 2px;
	height: 17px;
	margin-top: -7px;
	margin-left: 1px;
}


.page_seams .info_text .cont_result {
    width: 390px;
    height: 363px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    margin-bottom: 41px;
    color: #0B0B0B;
    position: relative;
    background-color: #F1F1F1;
}
.page_seams .info_text .cont_result {
	width: 463px;
    height: 210px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	margin-bottom: 41px;
	color: #0B0B0B;
	position: relative;
	background-color: #F1F1F1;

}

.page_seams .text_error_list{
	text-align: center;
    color: red;
    margin-top: 30px;
    font-size: 18px;

}
.info_text .cont_result p {
	margin: 15px 0;
	pointer-events: none;
}
.info_text .cont_result .text {
	padding-left: 17px;
	color: #5D5D5D;
	font-size: 12px;
	line-height: 16px;
	width: 345px;
}
.info_text .cont_result .text span {
	margin-top: 5px;
	display: block;
}
.info_text .cont_result.scroll,
.info_text .cont_color_key{
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.info_text .cont_result .mCSB_scrollTools {
	margin: 5px 2px;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    box-shadow: inherit;
    background-color: #f6f6f6;
}

.info_text .cont_result .mCSB_scrollTools:before {
    position: absolute;
    content: '';
    left: -5px;
    top: -6px;
    bottom: -6px;
    /* height: 100%; */
    width: 1px;
    background-color: #e5e5e5;
}
.info_text .cont_result .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
	border-radius: 0;
	box-shadow: inherit;
	background-color: #F6F6F6;
}
.info_text .cont_result .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius: 0;
    background: #f38000;
    box-shadow: inherit;
}
.info_text .cont_result .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -126px -72px;
}
.info_text .cont_result .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -126px -92px;
}

.info_text .cont_result .mCSB_inside > .mCSB_container {
	margin-right: 23px;
	position: relative;
}


.page_seams .cont_info .right_path {
	padding-left: 25px;
	padding-top: 5px;
}
.cont_info .right_path .info {
	margin-bottom: 20px;
}
.cont_info .right_path .info_text {
	width: 425px;
	height: 200px;
}
.cont_info_select .popup {
	width: 220px;
	margin-left: -110px;
}
.cont_info_select > div {
	display: inline-block;
	vertical-align: middle;
}
.cont_info_select .btn_help{
	margin-left: 13px;
	margin-top: 20px;
}
.cont_info_select .selectboxit-container .selectboxit {
	width: 423px !important;
	height: 31px;
	line-height: 31px;
}

.cont_info_select .selectboxit-container span, 
.cont_info_select .selectboxit-container .selectboxit-options a {
	height: 31px;
	line-height: 31px;
}
.cont_straight{
	margin: 11px 0 15px;
}
.cont_straight .popup {
	width: 250px;
    margin-left: -124px;
}
.cont_straight > div {
	display: inline-block;
	vertical-align: middle;
}
.cont_straight .text{
	margin-left: 8px;
	color: #6b6b6b;
	font-size: 12px;

}
.cont_btn_make{
	margin: 45px 3px 0;
}

.cont_btn_make .popup{
	width: 330px;
	margin-left: -164px;
}
.cont_btn_make .btn_make{
	height: 37px;
	width: 164px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	line-height: 37px;
}

.page_seams .info .preload {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(241,241,241,0.7);
	z-index: 10;
}
.page_seams .info .preload:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	/*width: 66px;*/
	width: 60px;
	/*height: 66px;*/
	height: 60px;
	background-image: url(../image/spinner.svg);
	/*margin-top: 15px;*/
	margin-top: -30px;
	margin-left: -30px;
	-moz-animation: animaciya 1s infinite linear;
	-webkit-animation: animaciya 1s infinite linear;
	-ms-animation: animaciya 1s infinite linear;
	background-size: contain;
}