body {
	padding: 0;
	margin: 0;
	/*background-image: url(../image/review.jpg);*/
	background-repeat: no-repeat;
	background-position: center top;
	font-family: Arial;
	min-width: 1280px;
}


.cont {
	width: 1280px;
	margin: 0 auto;
}

.header {
	height: 105px;
	background-image: url(../image/head.jpg);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 10px grey;
	margin-bottom: 5px;	
	background-color: white;
}
.body {
	background-color: #f9f9f9;
	padding-bottom: 20px;
}
.body .cont .info > div {
	display: table-cell;
}
.body .info .info_text {
	width: 425px;
	background-image: url(../image/info_text.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.body .cont .title {
	padding: 23px 0;
	font-size: 23px;
	letter-spacing: -1.3px;
	margin-bottom: 5px;
}
.body .cont > div {
	margin: 0 56px;
}
.graphics {
	width: 745px;
}
.graphics .cont_button {
	margin: 0 auto;
	text-align: center;
	/*margin-bottom: 10px;*/
}
.graphics .cont_button.top{
	margin-bottom: 10px;
} 
.graphics .cont_button.bottom {
	margin-top: 10px;
}
.btn,
.btn_help {
	display: inline-block;
	cursor: pointer;
}
.btn{
	border: 1px solid #D2D2D2;
	border-radius: 3px;
	width: 132px;
	height: 32px;
	text-align: center;
	line-height: 34px;
	text-transform: uppercase;
	font-size: 12px;
	color: #767676;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
	background: -webkit-linear-gradient(top, #fefefe 0%,#f0f0f0 100%);
	background: linear-gradient(to bottom, #fefefe 0%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 );
}
.graphics .cont_button.bottom .btn.screen{
	width: 165px;
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 14px;
	background: #1b96e3; 
	background: -moz-linear-gradient(top, #1b96e3 0%, #0e8bdb 100%);
	background: -webkit-linear-gradient(top, #1b96e3 0%,#0e8bdb 100%);
	background: linear-gradient(to bottom, #1b96e3 0%,#0e8bdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b96e3', endColorstr='#0e8bdb',GradientType=0 );

}
.graphics .cont_button .btn_help {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	font-size: 12px;
	border: 1px solid #6E6E6E;
	color: #848484;
	margin-left: 5px;
}
.graphics .btn.isometric label {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.graphics .btn.isometric input {
	display: none;
}

.graphics .word {
	
}
.footer {
	padding-top: 11px;
}
.footer .cont_bottom {
	text-align: center;
}
.footer .btn {
	width: 143px;
	height: 40px;
	/*background: inherit;*/
	font-weight: bold;
	font-size: 15px;
	line-height: 40px;
	color: #6C6C6C;
	letter-spacing: -1px;
	text-align: left;
	position: relative;
}
.footer .btn.back {
	text-indent: 62px;
}
.footer .btn.next {
	text-indent: 48px;
}
.btn.active {
	color: white;
	border-color: #f28310;
	background: #f6890a;
	background: -moz-linear-gradient(top, #f6890a 0%, #e87a01 100%);
	background: -webkit-linear-gradient(top, #f6890a 0%,#e87a01 100%);
	background: linear-gradient(to bottom, #f6890a 0%,#e87a01 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6890a', endColorstr='#e87a01',GradientType=0 );
}
.btn {
	position: relative;
}

.footer .btn:before {
	position: absolute;
	content: '';
	top: 50%;
	background-color: #a7a7a7;

}
.model_1,
.model_2 {
	width: 50px;
	/*transition: background 1s ease;*/
}

.footer .btn.back:before,
.footer .btn.back:after {
	left: 38px;
}
.footer .btn.next:before,
.footer .btn.next:after {
	right: 33px;
}
.footer .btn.back:before,
.footer .btn.next:before  {
	width: 17px;
	height: 1px;
	margin-top: -1px;
	/*margin-left: -9px;*/
}
.footer .btn:after{
	position: absolute;
	content: '';
	top: 50%;
	width: 8px;
	height: 8px;
	border-top: 1px solid #a7a7a7;
	border-left: 1px solid #a7a7a7;
}


.footer .btn.back:after,
.footer .btn.next:after {
	margin-top: -5px;
}
.footer .btn.back:after{
	transform: rotate(-45deg);
	/*margin-left: -8px;*/
}
.footer .btn.next:after{
	transform: rotate(135deg);
	margin-left: -1px;
}
.footer .btn.active:before {
	background-color: white;
}
.footer .btn.active:after {
	border-top-color: white;
	border-left-color: white;
}