<div class="cont_info page_fabric">
	<div class="left_path">
		<div class="cont_img_texture">
			<!-- <img class="item_texture" ng-if='data_fabric.fabricImageBase64' ng-src="{{host_1 + data_fabric.fabricImageBase64}}"> -->
			<div class="item_texture" 
			style="background-image: url({{folder_fabric + material_db.fabRelations[data_fabric.fabricSelectedIndex].fabTypeRelations[data_fabric.fabricTypeSelectedIndex].fabricColorItemsLinks[data_fabric.fabricColorSelectedIndex]}})"
			ng-if='material_db'></div>
		</div>
	</div>
	<div class="right_path">
		<div class="cont_list cont_list_select">
			<div class="cont_select cont_database">
				<div class="txt">FABRIC DATABASE</div>
				<!-- ng-change='changeSelect("FabricSupplier", "{{data_fabric.fabricSelectedIndex}}")'  -->
				<select class="select_database" 
					
					ng-model='data_fabric.fabricSelectedIndex' 
					fancy-select 
					fancy-default-text='FABRIC DATABASE' 
					fancy-list='material_db.fabricItems'  >
				</select>
			</div>
			<div class="cont_select cont_brand">
				<div class="txt">BRAND SELECTOR</div>
				<!-- ng-change='changeSelect("FabricType", "{{data_fabric.fabricTypeSelectedIndex}}")'  -->
				<select class="select_brand"
					ng-model='data_fabric.fabricTypeSelectedIndex'
					fancy-select 
					fancy-default-text='BRAND SELECTOR' 
					fancy-dependence='true'
					fancy-list='material_db.fabRelations[data_fabric.fabricSelectedIndex].fabricTypeItems' 
				></select>
			</div>
			<div class="cont_select cont_colour">
				<div class="txt">COLOUR CHOICE</div>
				<!-- ng-change='changeSelect("Color", "{{data_fabric.fabricColorSelectedIndex}}")' //'data_fabric.fabricColorItems' -->
				<select class="select_colour"
					
					ng-model='data_fabric.fabricColorSelectedIndex'
					fancy-select 
					fancy-default-text='COLOUR CHOICE' 
					fancy-dependence='true'
					fancy-list='material_db.fabRelations[data_fabric.fabricSelectedIndex].fabTypeRelations[data_fabric.fabricTypeSelectedIndex].fabricColorItems'   
				></select>
			</div>
		</div>
		<div class="cont_list cont_list_input">
			<div class="cont_input poll">
				<div class="cont_name">
					<div class="name">Roll width ({{reduction[id_unit]}})</div>
				</div>
				<div class="cont_val">
					<!-- <input class="val input_text" type="text" name="poll" ng-model='data_fabric.rollWidthText' valid-num> -->
					<input class="val input_text" type="text" name="poll" ng-model='data_fabric.rollWidthText' valid-num watch-value="fabRelations[data_fabric.fabricSelectedIndex].fabTypeRelations[data_fabric.fabricTypeSelectedIndex].rollWidthText">
				</div>
			</div>
			<div class="cont_input override">
				<div class="cont_name">
					<div class="name">Override stretch values</div>
				</div>
				<div class="cont_val cont_check">
					<input class="val input_checkbox" type="checkbox" name="override" id="override" ng-checked='data_fabric.override' ng-model='data_fabric.override'>
					<label class="label_checkbox" for="override"></label>
				</div>
			</div>
			<div class="cont_input warp_str">
				<div class="cont_name">
					<div class="name">Warp Stretch %</div>
				</div>
				<div class="cont_val">
				<!-- warpStretch -->
					<input class="val input_text" type="text" name="warp_str" disabled ng-model='data_fabric.warpStretch' valid-num watch-value="fabRelations[data_fabric.fabricSelectedIndex].fabTypeRelations[data_fabric.fabricTypeSelectedIndex].warpStretch">
				</div>
				<div class="cont_val" ng-if='data_fabric.override'>
					<div class="name">Override</div>
					<input class="val input_text" type="text" name="warp_str" ng-model='data_fabric.warpStretchOverride' valid-num>
				</div>
			</div>
			<div class="cont_input waft_str">
				<div class="cont_name">
					<div class="name">Waft Stretch %</div>
				</div>
				<div class="cont_val">
					<input class="val input_text" type="text" name="waft_str" disabled ng-model='data_fabric.weftStretch' valid-num watch-value="fabRelations[data_fabric.fabricSelectedIndex].fabTypeRelations[data_fabric.fabricTypeSelectedIndex].weftStretch">
				</div>
				<div class="cont_val" ng-if='data_fabric.override'>
					<input class="val input_text" type="text" name="waft_str" ng-model='data_fabric.weftStretchOverride' valid-num>
				</div>
			</div>
		</div>
	</div>
</div>
