<div class="cont_info page_fabric">
	<div class="left_path">
		<div class="cont_img_texture">
			<img class="item_texture" ng-src="{{data_fabric.fabricImageBase64}}">
		</div>
	</div>
	<div class="right_path">
		<div class="cont_select cont_database">
			<select class="select_database" 
				ng-change='changeSelect("FabricSupplier")' 
				ng-model='data_fabric.fabricSelectedIndex' 
				fancy-select 
				fancy-default-text='FABRIC DATABASE' 
				fancy-list='data_fabric.fabricItems' 
				fancy-index="data_fabric.fabricSelectedIndex" >
				<!-- <option value="Custom Fabric">Custom Fabric</option> -->
			</select>
			<!-- <select class="select_database" ng-change='changeSelect("FabricSupplier")' ng-model='data_fabric.fabricSelectedIndex'>
				<option ng-repeat="itm in data_fabric.fabricItems" ng-value='itm'  ng-selected='data_fabric.fabricSelectedIndex == $index'>
					{{itm}}
				</option>
			</select> -->
		</div>
		<div class="cont_select cont_brand">
			<select class="select_brand" 
				ng-change='changeSelect("FabricType")' 
				ng-model='data_fabric.fabricTypeSelectedIndex'
				fancy-select 
				fancy-default-text='BRAND SELECTOR' 
				fancy-list='data_fabric.fabricTypeItems' 
				fancy-index="data_fabric.fabricTypeSelectedIndex" 
			>
			<!-- <option value="Demo fabric">Demo fabric</option> -->
			</select>
			<!-- <select class="select_brand" ng-change='changeSelect("FabricType")' ng-model='data_fabric.fabricTypeSelectedIndex'>
				<option ng-repeat="type in data_fabric.fabricTypeItems" ng-value='type'  ng-selected='data_fabric.fabricTypeSelectedIndex == $index'>
					{{type}}
				</option>
			</select> -->
		</div>
		<div class="cont_select cont_colour">
			<select class="select_colour"
				ng-change='changeSelect("Color")'
				ng-model='data_fabric.fabricColorSelectedIndex'
				fancy-select 
				fancy-default-text='COLOUR CHOICE' 
				fancy-list='data_fabric.fabricColorItems' 
				fancy-index="data_fabric.fabricColorSelectedIndex" 
			>
			<!-- <option value="Cyan">Cyan</option><option value="Russet">Russet</option> -->
			</select>
			<!-- <select class="select_colour" ng-change='changeSelect("Color")' ng-model='data_fabric.fabricColorSelectedIndex'>
				<option ng-repeat="color in data_fabric.fabricColorItems" ng-value='color'  ng-selected='data_fabric.fabricColorSelectedIndex == $index'>
					{{color}}
				</option>
			</select> -->

		</div>
		<div class="cont_input poll">
			<div class="cont_name">
				<div class="name">Roll width ({{reduction[id_unit]}})</div>
			</div>
			<div class="cont_val">
				<input class="val input_text" type="text" name="poll" ng-model='data_fabric.rollWidthText'>
			</div>
		</div>
		<div class="cont_input override">
			<div class="cont_name">
				<div class="name">Override stretch values</div>
			</div>
			<div class="cont_val cont_check">
				<input class="val input_checkbox" type="checkbox" name="override" id="override" ng-checked='data_fabric.override' ng-model='data_fabric.override'>
				<label class="label_checkbox" for="override"></label>
			</div>
		</div>
		<div class="cont_input warp_str">
			<div class="cont_name">
				<div class="name">Warp Stretch %</div>
			</div>
			<div class="cont_val">

				<input ng-if='!data_fabric.override' class="val input_text" type="text" name="warp_str" ng-model='data_fabric.warpStretch'>
				<input ng-if='data_fabric.override' class="val input_text" type="text" name="warp_str" ng-model='data_fabric.warpStretchOverride'>
			</div>
		</div>
		<div class="cont_input waft_str">
			<div class="cont_name">
				<div class="name">Waft Stretch %</div>
			</div>
			<div class="cont_val">
				<input ng-if='!data_fabric.override' class="val input_text" type="text" name="waft_str" ng-model='data_fabric.weftStretch'>
				<input ng-if='data_fabric.override' class="val input_text" type="text" name="waft_str" ng-model='data_fabric.weftStretchOverride'>
			</div>
		</div>
	</div>
</div>
