<div class="page_fittings">
	<div class="left_path">
		<div class="cont_layer">
			<div class="layer layer_1">
				<div class="cont_view_color">
					<div class="cont_color">
						<div class="color"></div>
					</div>
				</div>
				<div class="cont_all_select">
					<div class="cont_values">
						<div class="cont_select cont_hardware">
							<div class="txt">HARDWARE DATABASE</div>
							<!-- ng-change='changeSelect("HardwareSupplier", "{{data_fitting.hardwareSelectedIndex}}")' -->
							<div class="cont_val_select">
								<select class="select_hardware" 

									ng-model='data_fitting.hardwareSelectedIndex'
									fancy-select 
									fancy-default-text='HARDWARE DATABASE' 
									fancy-list='material_db.hardwareItems' 
								></select>
							</div>
						</div>
						<div class="cont_select cont_webbing">
							<div class="txt">EDGE TYPE</div>
							<!-- ng-change='changeSelect("EdgeType", "{{data_fitting.hardEdgeTypeSelectedIndex}}")' -->
							<div class="cont_val_select">
								<select class="select_edge_type" 
									
									ng-model='data_fitting.hardEdgeTypeSelectedIndex'
									fancy-select 
									fancy-dependence='true'
									fancy-default-text='EDGE TYPE' 
									fancy-list='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeItems' 
								></select>
							</div>
						</div>
						<div class="cont_select cont_colour">
							<div class="txt">COLOUR</div>
							<!-- ng-change='changeSelect("EdgeColor", "{{data_fitting.hardColorSelectedIndex}}")' -->
							<div class="cont_val_select">
								<select class="select_colour"
									
									ng-model='data_fitting.hardColorSelectedIndex'
									fancy-select 
									fancy-dependence='true'
									fancy-default-text='COLOUR' 
									fancy-list='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardColorItems' 
								></select>
							</div>
						</div>
						<div class="cont_hem">
							<div class="cont_color" style="display:none">
								<div class="color"></div>
							</div>
							<div class="cont_input">
								<div class="txt">Hem ({{reduction[id_unit]}})</div>
								<div class="cont_val">
									<input class="input_hem" type="text" disabled ng-model='data_fitting.hemText' valid-num watch-value="data_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hemText">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layer layer_2">
				<div class="cont_view_corner">
					<div class="cont_img_corn">
						<div class="img_corn" ng-if='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornerRelations[data_fitting.hardCornorSelectedIndex].exampleImageLinks[data_fitting.exampleImageSelectedIndex]' style="background-image: url({{folder_fitting + material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornerRelations[data_fitting.hardCornorSelectedIndex].exampleImageLinks[data_fitting.exampleImageSelectedIndex]}})">
						</div>
					</div>
					<div class="cont_select cont_corner">
						<div class="txt">EXAMPLE CORNER IMAGE</div>
						<!-- ng-change='changeSelect("ExampleImage", "{{data_fitting.exampleImageSelectedIndex}}")' -->
						<select class="select_corner"
							
							ng-model='data_fitting.exampleImageSelectedIndex'
							fancy-select 
							fancy-dependence='true'
							fancy-default-text='EXAMPLE CORNER IMAGE' 
							fancy-list='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornerRelations[data_fitting.hardCornorSelectedIndex].exampleImageItems' 

						></select>
					</div>
				</div>
				<div class="cont_all_select">
					<div class="cont_values">
											<div class="cont_select cont_finish">
							<div class="txt">CORNER HARDWARE</div>
							<!-- ng-change='changeSelect("CornerType", "{{data_fitting.hardCornorSelectedIndex}}")' -->
							<div class="cont_val_select">
								<select class="select_finish" 
									
									ng-model='data_fitting.hardCornorSelectedIndex'
									fancy-select 
									fancy-dependence='true'
									fancy-default-text='CORNER FINISH' 
									fancy-list='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornorItems' 
								></select> 
							</div>
						</div>
						<div class="cont_info_hardware">
							<div class="cont_input cont_lenght">
								<div class="txt">Hardware length ({{reduction[id_unit]}})</div>
								<div class="cont_val">
									<input class="input_lenght" disabled type="text" ng-model='data_fitting.cornerLengthText' valid-num watch-value="data_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornerRelations[data_fitting.hardCornorSelectedIndex].cornerLengthText">
								</div>
							</div>
							<div class="cont_input cont_width">
								<div class="txt">Hardware width ({{reduction[id_unit]}})</div>
								<div class="cont_val">
									<input class="input_width" disabled type="text" ng-model='data_fitting.cornerWidthText' valid-num watch-value="data_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardEdgeTypeIRelations[data_fitting.hardEdgeTypeSelectedIndex].hardCornerRelations[data_fitting.hardCornorSelectedIndex].cornerWidthText">
								</div>
							</div>
							<div class="cont_checkbox_circle">
								<div class="txt">Fit hardware circle in corner</div>
								<div class="cont_check">
									<input class="checkbox_circle" type="checkbox" id="checkbox_circle" name="checkbox_circle" disabled>
									<label class="label_circle" for="checkbox_circle"></label>
								</div>
							</div>
						</div>
						<div class="cont_select cont_shackle">
							<div class="txt">CORNER LINK</div>
							<!-- ng-change='changeSelect("LinkType", "{{data_fitting.hardLinkSelectedIndex}}")' -->
							<div class="cont_val_select">
								<select class="select_corner_link" 

									ng-model='data_fitting.hardLinkSelectedIndex'
									fancy-select 
									fancy-dependence='true'
									fancy-default-text='CORNER LINK' 
									fancy-list='material_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardLinkItems' 
								></select>
							</div>
						</div>
						<div class="cont_input cont_link">
							<div class="txt">Link length({{reduction[id_unit]}})</div>
							<div class="cont_val">
								<input class="input_link" type="text" ng-model='data_fitting.linkLengthText' ng-class="{disabled: !data_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardLinkRelations[data_fitting.hardLinkSelectedIndex].linkLengthAllowToChange}" valid-num watch-value="data_db.hardwareRelations[data_fitting.hardwareSelectedIndex].hardLinkRelations[data_fitting.hardLinkSelectedIndex].linkLengthText">
							</div>
						</div>

					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="right_path">
		<div class="cont_details">
			<div class="title_details">DETAILS</div>
			<div class="cont_input cont_thread">
				<div class="txt">Thread</div>
				<div class="cont_val">
					<input class="input_thread" type="text" ng-model='data_fitting.thread' watch-value='data_db.thread'>
				</div>
			</div>
			<div class="cont_input cont_accessories">
				<div class="txt">Accessories</div>
				<div class="cont_val">
					<input class="input_accessories" type="text" ng-model='data_fitting.accessories' watch-value='data_db.accessories'>
				</div>
			</div>
			<div class="cont_input cont_internal">
				<div class="txt">Internal seam width ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_internal" type="text" ng-model='data_fitting.seamText' valid-num watch-value='data_db.seamText'>
					<div class="btn_help">?
						<div class="popup">
							<div class="cont_popup">This allowance will be added to both sides of each seam</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cont_input cont_reinfo">
				<div class="txt">Corner reinforcement size ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_reinfo" type="text" ng-model='data_fitting.reoText' valid-num watch-value='data_db.reoText'>
				</div>
			</div>
			<div class="cont_input cont_diameter">
				<div class="txt">Pole diameter ({{reduction[id_unit]}})</div>
				<div class="cont_val">
				<input class="input_diameter" type="text" ng-model='data_fitting.poleDiameterText' valid-num watch-value='data_db.poleDiameterText'></div>
			</div>
			<div class="cont_input cont_angle">
				<div class="txt">Pole lean angle degress</div>
				<div class="cont_val">
					<input class="input_angle" type="text" ng-model='data_fitting.poleAngle' valid-num watch-value='data_db.poleAngle'>
				</div>
			</div>
			<div class="cont_input cont_height">
				<div class="txt">Pole added height ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_height" type="text" ng-model='data_fitting.poleExtraHeight' valid-num watch-value='data_db.poleExtraHeight'>
					<div class="btn_help">?
						<div class="popup">
							<div class="cont_popup">This wiil extend the post above the connection height for visualisation purposes only</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>