<div class="page_fittings">
	<div class="left_path">
		<div class="cont_layer layer_1">
			<div class="cont_view_color">
				<div class="cont_color">
					<div class="color"></div>
				</div>
			</div>
			<div class="cont_all_select">
				<div class="cont_select cont_hardware">
					<div class="txt">HARDWARE DATABASE</div>
					<select class="select_hardware" 
						ng-change='changeSelect("HardwareSupplier", "{{data_fitting.hardwareSelectedIndex}}")'
						ng-model='data_fitting.hardwareSelectedIndex'
						fancy-select 
						fancy-default-text='HARDWARE DATABASE' 
						fancy-list='data_fitting.hardwareItems' 
					></select>
				</div>
				<div class="cont_select cont_webbing">
					<div class="txt">EDGE TYPE</div>
					<select class="select_edge_type" 
						ng-change='changeSelect("EdgeType", "{{data_fitting.hardEdgeTypeSelectedIndex}}")'
						ng-model='data_fitting.hardEdgeTypeSelectedIndex'
						fancy-select 
						fancy-default-text='EDGE TYPE' 
						fancy-list='data_fitting.hardEdgeTypeItems' 
					></select>
				</div>
				<div class="cont_select cont_colour">
					<div class="txt">COLOUR</div>
					<select class="select_colour"
						ng-change='changeSelect("EdgeColor", "{{data_fitting.hardColorSelectedIndex}}")'
						ng-model='data_fitting.hardColorSelectedIndex'
						fancy-select 
						fancy-default-text='COLOUR' 
						fancy-list='data_fitting.hardColorItems' 
					></select>
				</div>
				<div class="cont_input cont_hem">
					<div class="txt">Hem ({{reduction[id_unit]}})</div>
					<div class="cont_val">
						<input class="input_hem" type="text" ng-model='data_fitting.hemText' valid-num>
					</div>
				</div>
			</div>
		</div>
		<div class="cont_layer layer_2">
			<div class="cont_view_corner">
				<div class="cont_img_corn">
					<div class="img_corn" style="background-image: {{data_fitting.exampleImageBase64}}">
					</div>
				</div>
				<div class="cont_select cont_corner">
					<div class="txt">EXAMPLE CORNER IMAGE</div>
					<select class="select_corner"
						ng-change='changeSelect("ExampleImage", "{{data_fitting.exampleImageSelectedIndex}}")'
						ng-model='data_fitting.exampleImageSelectedIndex'
						fancy-select 
						fancy-default-text='EXAMPLE CORNER IMAGE' 
						fancy-list='data_fitting.exampleImageItems' 
					></select>
				</div>
			</div>
			<div class="cont_all_select">
				<div class="cont_select cont_finish">
					<div class="txt">CORNER FINISH</div>
					<select class="select_finish" 
						ng-change='changeSelect("CornerType", "{{data_fitting.hardCornorSelectedIndex}}")'
						ng-model='data_fitting.hardCornorSelectedIndex'
						fancy-select 
						fancy-default-text='CORNER FINISH' 
						fancy-list='data_fitting.hardCornorItems' 
					></select> 
				</div>
				<div class="cont_info_hardware">
					<div class="cont_input cont_lenght">
						<div class="txt">Hardware length ({{reduction[id_unit]}})</div>
						<div class="cont_val">
							<input class="input_lenght" type="text" ng-model='data_fitting.cornerLengthText' valid-num>
						</div>
					</div>
					<div class="cont_input cont_width">
						<div class="txt">Hardware width ({{reduction[id_unit]}})</div>
						<div class="cont_val">
							<input class="input_width" type="text" ng-model='data_fitting.cornerWidthText' valid-num>
						</div>
					</div>
					<div class="cont_checkbox_circle">
						<div class="txt">Fit hardware circle in corner</div>
						<div class="cont_check">
							<input class="checkbox_circle" type="checkbox" id="checkbox_circle" name="checkbox_circle">
							<label class="label_circle" for="checkbox_circle"></label>
						</div>
					</div>
				</div>
				<div class="cont_select cont_shackle">
					<div class="txt">CORNER LINK</div>
					<select class="select_corner_link" 
						ng-change='changeSelect("LinkType", "{{data_fitting.hardLinkSelectedIndex}}")'
						ng-model='data_fitting.hardLinkSelectedIndex'
						fancy-select 
						fancy-default-text='CORNER LINK' 
						fancy-list='data_fitting.hardLinkItems' 
					></select>
				</div>
				<div class="cont_input cont_link">
					<div class="txt">Link length({{reduction[id_unit]}})</div>
					<div class="cont_val">
						<input class="input_link" type="text" ng-model='data_fitting.linkLengthText' valid-num>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right_path">
		<div class="cont_details">
			<div class="title_details">DETAILS</div>
			<div class="cont_input cont_thread">
				<div class="txt">Thread</div>
				<div class="cont_val">
					<input class="input_thread" type="text" ng-model='data_fitting.thread'>
				</div>
			</div>
			<div class="cont_input cont_accessories">
				<div class="txt">Accessories</div>
				<div class="cont_val">
					<input class="input_accessories" type="text" ng-model='data_fitting.accessories'>
				</div>
			</div>
			<div class="cont_input cont_internal">
				<div class="txt">Internal seam width ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_internal" type="text" ng-model='data_fitting.seamText' valid-num>
					<div class="btn_help">?
						<div class="popup">
							<div class="cont_popup">This allowance will be added to both sides of each seam</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cont_input cont_reinfo">
				<div class="txt">Corner reinforcement size ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_reinfo" type="text" ng-model='data_fitting.reoText' valid-num>
				</div>
			</div>
			<div class="cont_input cont_diameter">
				<div class="txt">Pole diameter ({{reduction[id_unit]}})</div>
				<div class="cont_val">
				<input class="input_diameter" type="text" ng-model='data_fitting.poleDiameterText' valid-num></div>
			</div>
			<div class="cont_input cont_angle">
				<div class="txt">Pole lean angle degress</div>
				<div class="cont_val">
					<input class="input_angle" type="text" ng-model='data_fitting.poleAngle' valid-num>
				</div>
			</div>
			<div class="cont_input cont_height">
				<div class="txt">Pole added height ({{reduction[id_unit]}})</div>
				<div class="cont_val">
					<input class="input_height" type="text" ng-model='data_fitting.poleExtraHeight' valid-num>
					<div class="btn_help">?
						<div class="popup">
							<div class="cont_popup">This wiil extend the post above the connection height for visualisation purposes only</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>