<div class="cont_info page_seams">
	 <div class="left_path">
		<div class="cont_view">
			<div id="threejs" class="view threejs" ng-class='{error: pattern_error}'>
				<div ng-if='pattern_error' class="text_error">
					Error loading model
				</div>
			</div>
		</div>
		<div class="cont_num_panels">
			<div class="cont_count">
				<div class="text">number of panels
					<div class="btn_help">?
						<div class="popup">
							<div class="cont_popup">Blue lines are guidelines representing the fabric width in the selected warp direction - right click on these allows movement</div>
						</div>
					</div>
				</div>
				<div class="elem_count">
					<div class="btn_minus" ng-click='prevPanels()' ng-class='{off: index_panel == 0 }'></div>
					<div class="val_num">{{item_seams.nPanels[index_panel]}}</div>
					<div class="btn_plus" ng-click='nextPanels()' ng-class='{off: index_panel == item_seams.nPanels.length-1 }'></div>
				</div>
			</div>
		</div>
	</div>
	<div class="right_path">
		<div class="info">
			<div class="info_text">

				<div class="cont_result">
					<div class="preload" ng-show='load_pattern'></div>
					<div ng-if='pattern_error || data_error' class='text_error_list'>{{data_error || pattern_error}}</div> 
					<div ng-if='!pattern_error && data_pattern.messages.length'  class="mCustomScrollbar _mCS_1" id="content-3dtd" custom-scroll ng-model='data_pattern.messages'>
						<div class="text">
							<span ng-repeat='mess in data_pattern.messages' ng-class='arr_class[data_pattern.messageTypes[$index]]'>
								{{mess}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cont_info_select">
			<div class="cont_select cont_warp">
				<div class="txt">WARP DIRECTION</div>
				<select  class="select_warp" 
					id="select_warp" 
					fancy-select 
					fancy-default-text='WARP DIRECTION' 
					fancy-list='item_seams.warpDir' 
					fancy-index="data_seams.warpIndex"
					ng-model='data_seams.warpIndex' >
				</select>
			</div>
			<div class="btn_help">?<div class="popup">
			<div class="cont_popup">Warp is direction of fabric coming off the roll</div>
			</div>
			</div>
		</div>
		<div class="cont_straight">
			<div class="cont_check">
				<input class="straight" type="checkbox" id="straight">
				<label for="straight"></label>
			</div>
			<div class="text">Straighten Seams</div>
		</div>
		<div class="cont_info_select">
			<div class="cont_select cont_tag">
				<div class="txt">TAG CORNER</div>
				<select  class="select_tag" 
					id="select_tag" 
					fancy-select 
					fancy-default-text='TAG CORNER' 
					fancy-list='item_seams.tagCorner' 
					fancy-index="data_seams.tagIndex"
					ng-model='data_seams.tagIndex' >
				</select>
			</div>
		</div>
		<div class="cont_btn_make">
			<div class="my_btn grad_blue btn_make" ng-click='getMake()' ng-class='{disabled: !item_seams.tagCorner}'>make panels</div>
		</div>
	</div>
</div>