<div class="cont_info page_user">
	<div class="left_path">
		<div class="elem_name">
			<input class="input_name" type="text" name="name" placeholder="COMPANY NAME">
		</div>
		<div class="drag"></div>
		<div class="set_image">
			<span class="text">Add your Company Logo</span>
			<label class="my_btn label_img">Browse<input class="browse" type="file" accept="image/*"></label>
		</div>
		<div class="small_title">UNITS</div>
		<div class="change_units">

			<select
				class="select_units" 
				id="select_units" 
				fancy-select 
				fancy-default-text='Units' 
				fancy-list='units' 
				fancy-index=""
				ng-model='model_units' 
			></select>
		</div>
		<div class="set_file_name">
			<input class="file_name" type="text" name="file_name" placeholder="FILE NAME">
		</div>
		<div class="cont_save">
			<input class="my_btn btn_save" type="submit" value="Save">
		</div>
	</div>
	<div class="right_path">
		<div class="change_units">
			
			<!-- <div class="small_title">PLOTTER EXPORT STYLE</div> -->
			<select
				class="select_units" 
				id="select_units" 
				fancy-select 
				fancy-default-text='PLOTTER EXPORT STYLE' 
				fancy-list='styles' 
				fancy-index=""
				ng-model='model_styles' 
			></select>
		</div>
	</div>
</div>